[submodule "emacs-doom-themes"]
	path = emacs-doom-themes
	url = https://github.com/nitros12/emacs-doom-themes.git
[submodule "local/sourcepawn-mode"]
	path = local/sourcepawn-mode
	url = https://github.com/agrif/sourcepawn-mode
