[submodule "local/sourcepawn-mode"]
	path = local/sourcepawn-mode
	url = https://github.com/agrif/sourcepawn-mode
[submodule "local/screenshot"]
	path = local/screenshot
	url = git@github.com:tecosaur/screenshot.git
